<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Agency List DB</title>
  </head>
  <body>
    <div class="logoWrapper">
      <img
        id="logo"
        src="mutator-cold.png"
        alt="mutator-cold"
        style="margin-right: -15px"
      />
      <h1 id="mutator">MUTATOR</h1>
      <img
        id="logo"
        src="mutator-hot.png"
        alt="mutator-hot"
        style="margin-left: -15px"
      />
    </div>
    <div class="wrapper">
      <form
        class="fileForm"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <h4>Check TXT file to mutate...</h4>
        <div>
          <input type="file" name="fileToUpload" />
          <button type="submit">Upload file</button>
        </div>
      </form>

      <div class="middleContainer">
        <h5>Save to DB or Edit from DB</h5>
        <form method="post" action="/save">
          <button type="submit">Save to DB...</button>
        </form>
        <button>Edit from DB...</button>
      </div>
      <div class="frame">
        <div class="mailList">Check email which you want to send...</div>
        <div class="buttonWrapper">
          <button id="selectBtn">Copy Text</button>
          <button id="sentBtn">Sent</button>
          <button id="clearBtn">Clear</button>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Nazwa Firmy</th>
          <th>Adres strony internetowej</th>
          <th>Adres Email</th>
          <th>Add</th>
          <th>Delete</th>
          <th>Uncheck</th>
        </tr>
      </thead>
      <tbody>
        <% if(firmy) {%> <% firmy.forEach(function(company){ %>

        <tr <%-company.sent ? `class="orange" ` : `class="none" ` %>
          >
          <td><%- company.name %></td>
          <td>
            <%- `<a href="${company.www}" target="blank">${company.www}</a>` %>
          </td>
          <td class="companyEmail"><%- company.email %></td>
          <td class="buttonCell">
            <%- `<button type="button" id="${company.id}" class="checkBtn">
              Check</button
            >` %>
          </td>
          <td class="buttonCell">
            <%- `<button type="button" id="${company.id}" class="unCheckBtn">
              Uncheck</button
            >` %>
          </td>
          <td>
            <button class="deleteBtn" data-id="<%= company.id %>">
              Delete
            </button>
          </td>
        </tr>

        <%}); %> <%}%>
      </tbody>
    </table>

    <div id="copiedInfo">Text was copied to clipboard...</div>

    <script src="/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/frontend.js"></script>
  </body>
</html>
