<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Agency List DB</title>
  </head>
  <body>
    <h1>Comapnies from Germany</h1>
    <div class="mailList">choose mail which you want to send...</div>
    <button id="selectBtn">Copy Text</button>

    <form style="border: 2px solid yellow" action="/delete" method="POST">
      <input type="hidden" name="id" value="1" />
      <p>Wyslij te dane do delete</p>
      <button type="submit">Wyslij</button>
    </form>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="fileToUpload" />
      <button type="submit">Załaduj plik</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Nazwa Firmy</th>
          <th>Adres strony internetowej</th>
          <th>Adres Email</th>
          <th>Add</th>
          <th>Delete</th>
          <th>Uncheck</th>
        </tr>
      </thead>
      <tbody>
        <% if(firmy) {%> <% firmy.forEach(function(company){ %>

        <tr>
          <td><%- company.name %></td>
          <td>
            <%- `<a href="${company.www}" target="blank">${company.www}</a>` %>
          </td>
          <td class="companyEmail"><%- company.email %></td>
          <td class="buttonCell">
            <%- `<button type="button" id="${company.id}" class="checkBtn">
              Check</button
            >` %>
          </td>
          <td class="buttonCell">
            <%- `<button type="button" id="${company.id}" class="unCheckBtn">
              Uncheck</button
            >` %>
          </td>
          <td>
            <%- `<button class="deleteBtn" id="${company.id}">Delete</button>`
            %>
          </td>
        </tr>

        <%}); %> <%}%>
      </tbody>
    </table>

    <div id="copiedInfo">Text was copied to clipboard...</div>

    <script type="text/javascript" src="/js/frontend.js"></script>
  </body>
</html>
